---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import BookSection from '@/components/BookSection.astro'
import Button from '@/components/Button.astro'

import { Image } from 'astro:assets'
import homelab from '../../assets/homelab.svg'

const meta = {
	description: 'Tools I Use Daily.',
	title: 'Tools'
}

const SYSTEMS = [
	{
		name: 'Kali',
		description: 'Penetration Testing Distribution',
		href: 'https://www.kali.org/',
		iconPath: 'kali',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Parrot OS',
		description: 'Penetration Testing Distribution',
		href: 'https://www.parrotsec.org/',
		iconPath: 'parrotos',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Debian',
		description: 'Main Operating System',
		href: 'https://www.debian.org/',
		iconPath: 'debian',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Arch',
		description: 'Lightweight & Flexible Distribution.',
		href: 'https://archlinux.org/',
		iconPath: 'arch',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Sway',
		description: 'X11 Window Manager',
		href: 'https://swaywm.org/',
		iconPath: 'sway',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Hyprland',
		description: 'Wayland Tiling Manager.',
		href: 'https://hyprland.org/',
		iconPath: 'hyprland',
		iconBgColour: '#06A67F'
	}
];

const TOOLS = [
	{
		name: 'Obsidian',
		description: 'Long-form Writing',
		href: 'https://obsidian.md/',
		iconPath: 'obsidian',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Tmux',
		description: 'Tmux is a terminal multiplexer.',
		href: 'https://github.com/tmux/tmux',
		iconPath: 'tmux',
		iconBgColour: '#06A67F'
	},
	{
		name: 'VSCodium',
		description: 'IDE',
		href: 'https://github.com/VSCodium/vscodium',
		iconPath: 'vscode',
		iconBgColour: '#06A67F'
	},
	{
		name: 'NeoVim',
		description: 'Vim-based Text Editor',
		href: 'https://neovim.io/',
		iconPath: 'neovim',
		iconBgColour: '#06A67F'
	},
	{
		name: 'LazyVim',
		description: 'Customize and extend NeoVim',
		href: 'https://www.lazyvim.org/',
		iconPath: 'neovim',
		iconBgColour: '#06A67F'
	},
	{
		name: 'JetBrains Mono',
		description: 'Typeface for Developers',
		href: 'https://www.jetbrains.com/lp/mono/',
		iconPath: 'jetbrains',
		iconBgColour: '#06A67F'
	}
];

const READ = [
	{
		name: 'It Starts With The Bump',
		description: 'by Rebecca Fett',
		href: 'https://amzn.eu/d/6HT5Wcr',
		iconPath: 'book',
		iconBgColour: '#06A67F'
	}
]

const TOREAD = [
	{
		name: 'Learn PowerShell Scripting in a Month of Lunches',
		description: 'by James Petty, Don Jones, Jeffrey Hicks',
		href: 'https://nostarch.com/black-hat-bash',
		iconPath: 'bash',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Black Hat Bash',
		description: 'Creative Scripting for Hackers and Pentesters.',
		href: 'https://automatetheboringstuff.com/',
		iconPath: 'bash',
		iconBgColour: '#06A67F'
	}
]

---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
			

			<ToolSection title='Tools' tools={TOOLS} />
			<ToolSection title='Operating Systems' tools={SYSTEMS} />
		</div>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Books</h1>
                <span
					
					class='flex flex-row items-center gap-x-3 px-0 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>

					<p class='font-medium'>Reading: The Emperor of All Maladies</p>
				</span>
			</div>
			
			<BookSection title='Read' books={READ} />
			<BookSection title='To-Read' books={TOREAD} />
		</div>

	</div>
</PageLayout>
